<%- include("include/header") -%>
<div class="titleBox">
    <h2>TODO LIST</h2>
</div>
<div class="detailBox">
    <dl>
        <dt>No.<%= id %></dt>
        <dd>
            <p class="title"><%= title %></p>
            <span class="date"><%= date %></span>
            <span class="delete" data-id="<%= id%>"><span class="material-icons-outlined">delete</span></span>
        </dd>
    </dl>
</div>
<script>
    $(".delete").on("click", ()=> {
        console.log("지울겁니다.")
        const _id = $(".delete").data("id");
        const sendData = {
            id: _id
        }
        //console.log(sendData);
        $.ajax({
            url:"/delete",
            method:"DELETE",
            data:sendData,
            success:(res)=>{
                console.log(res);
                alert("삭제되었습니다.")
                if(res.delete==="ok"){
                    location.href="/list"
                }
            }
        })
    })
</script>
<%- include("include/footer") -%>